<% layout('admin/master') %>
<div class="col-xs-6">
	<div class="box-header with-border">
	  <h3 class="box-title">Edit Product</h3>
		<a href="/admin/product/create" class="btn btn-primary pull-right">Create product</a>
	</div>
	<% if(success_message.length > 0){ %>
		<div class="alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<%= success_message %>
		</div>
	<% } %>
	<div class="box-body">
	  <form role="form" method="POST" action="/admin/product/edit" >
	  	<input type="hidden" name="_id" value="<%= (product) ? product._id : null   %>"/>
	    <div class="form-group">
	      <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Name</label>
	      <input type="text" class="form-control" id="inputError" name="name" placeholder="Enter name" value="<%= (product) ? product.name : ''   %>">
	      <span class="help-block">Help block with error</span>
	    </div>
	    <div class="form-group">
	      <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Price</label>
	      <input type="text" class="form-control" id="inputError" name="price" placeholder="Enter price" value="<%= (product) ? product.price : '' %>">
	      <span class="help-block">Help block with error</span>
	    </div>
	    <div class="form-group">
	      <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Category</label>
	      <div class="form-group">
                <select class="form-control select2" style="width: 100%;" name="category" placeholder="Select Category">
                  <option selected="selected">Select Category</option>
                  <% var totalCategories = categories.length; %>
                  <% for(i = 0; i < totalCategories; i++){ %>
										<% if(product != null) { %>
                  		<% if( categories[i]._id == product.category.toString() ) {%>
                  			<option value="<%= categories[i]._id%>" selected><%=: categories[i].name | capitalize%></option>
                  		<%} else{%>
                  			<option value="<%= categories[i]._id%>"><%=: categories[i].name | capitalize%></option>
                  		<%}%>
										<% }else { %>
												<option value="<%= categories[i]._id%>"><%=: categories[i].name | capitalize%></option>
                  	<%}
										} %>
                </select>
              </div>
	      <span class="help-block">Help block with error</span>
	    </div>
	    <div class="form-group">
	      <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Upload Picture</label>
	      <input type="file" class="form-control" id="inputError" placeholder="Enter category" name="file">
	      <span class="help-block">Help block with error</span>
	    </div>
	    <div class="form-group">
	      <button type="submit" class="btn btn-primary" value="save">Save</button>

	    </div>
	  </form>
	</div>
</div>
